.board-cell {
  position: relative;
}

.board-cell:first-child,
.board-cell:nth-child(2),
.board-cell:nth-child(3) {
  border-top: none;
}

.board-cell:nth-child(3n + 1) {
  border-left: none;
}

.board-cell:nth-child(3n + 3) {
  border-right: none;
}

.board-cell:nth-child(7),
.board-cell:nth-child(8),
.board-cell:last-child {
  border-bottom: none;
}

.board-cell.x,
.board-cell.circle {
  pointer-events: none;
}

.board-cell.x::before,
.board-cell.x::after {
  background-color: #00c782;
}

.board-cell.circle::after {
  border-color: #fff;
}

.board.x .board-cell:not(.x):not(.circle):hover::before,
.board.x .board-cell:not(.x):not(.circle):hover::after {
  background-color: #005235;
}

.board.circle .board-cell:not(.x):not(.circle):hover::after {
  border-color: rgb(75, 75, 75);
}

.board-cell.x::before,
.board-cell.x::after,
.board.x .board-cell:not(.x):not(.circle):hover::before,
.board.x .board-cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: 0.75rem;
  height: 5rem;
  border-radius: 1.5rem;
}

.board-cell.x::before,
.board.x .board-cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.board-cell.x::after,
.board.x .board-cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.board-cell.circle::after,
.board.circle .board-cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  border-width: 0.65rem;
  border-style: solid;
}
